export/
.vscode/
art n' shit/chart-converter/binaries_exporter/
art n' shit/char-converter/binaries/
# yeah so private mod port of hd hoob monika i guess
assets/songs/slut-hut/
assets/images/noteSkins/notes-monika.png 
assets/images/noteSkins/notes-monika.xml
assets/images/noteSkins/notes-monika-sustains.png  
assets/images/characters/slutty_hoob.png
assets/images/characters/slutty_hoob.xml
assets/characters/sluthutmon.json
dump/
assets/weeks/butt.json
assets/buildNum.txt